<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="../static/css/signup.css" rel="stylesheet" />
    <link href="../static/css/reset.css"  rel="stylesheet" />
    <script src="../static/js/login.js"></script>
    <script></script>
</head>
<body>
<div id="wrapper">
    <main class="login_wrapper">
        <div class="login_container">
            <span class="login_title notosanskr">로그인</span>
            <form onsubmit="return false;">
                <div class="form-group">
                    <label for="userEmail">이메일</label>
                    <input
                            type="text"
                            class="form-control page_input"
                            id="userEmail"
                            autocomplete="off"
                            placeholder="이메일을 입력해주세요."
                    />
                </div>
                <div class="form-group">
                    <label for="password">패스워드</label>
                    <input
                            type="password"
                            class="form-control page_input"
                            id="password"
                            autocomplete="off"
                            placeholder="비밀번호를 입력해주세요."
                    />
                </div>
                <span id="signup_error"></span>
                <div class="login_btn_container flex-column">
                    <button type="submit" class="page_btn btn btn-primary" onclick="login()">로그인</button>
                </div>
                <div class="login_lower">
                    아직 회원이 아니신가요? <a href="#" class="text" onclick="location.href='/signup'">회원가입</a>
                </div>
            </form>
        </div>
    </main>
</div>
</main>
</div>
</body>
</html>
